/* Não esquecer de colocar a chamada do home.css no index */

section.sobre
	.itens

		//Inserindo o propriedade flex
		+flexbox

		//alinhando pelo centro 
		+align-items(center)

		//justificando conteudo tendo como base container	
		+justify-content(space-around)
		
		//Adicionand margin para separar as linhas do layout
		margin: 50px 0

		//Para no respondivo os elementos ficarem alinhado ao content: ''
		text-align: center
		
		//Ajustando as column do grid
		+make-sm-column(10)
		+make-sm-column-offset(1)

		+breakpoint($tablet)
			display: block

		.foto
			+order(3)
			+breakpoint($tablet)
				margin: 0 0 30px


		//Para pegar tudo que esta dentro de itens com a chamada inicial antes do hifen com icone 
		[class^="icone-"]
			//propriedade para estilizar os icones
			width: 90px
			height: 90px
			background-color: $azul-claro
			+border-radius(120px)
			text-align: center
			line-height: 85px
			color: $branco
			+font-size(55px)

			+breakpoint($tablet)
				display: inline-block
				width: 55px
				height: 55px
				line-height: 53px
				+font-size(40px)
				margin: 0 3px

			//organizando ordem dos elementos
			&.icone-lapis
				+order(1)
			&.icone-codigo
				+order(2)
			&.icone-coracao
				+order(4)
			&.icone-compartilhar
				+order(5)

	.textos
		+make-sm-column(8)
		+make-sm-column-offset(2)
		text-align: center

		p 
			+font-size(25px)

	.botao
		display: table
		margin: 30px auto
